html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1px solid;
    width: 500px;
    margin: 50px
}

.calculator-screen {
    color: black;
    width: 450px;
    font-size: 15px;
    height: 80px;
    border: solid 1px;
    text-align: center;
    margin: 30px 25px 30px 25px;
}

button {
    height: 60px;
    border: 1px solid;
    font-size: 20px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 0px 30px 30px 30px;
}

.equal-sign {
    height: 100%;
    grid-row: 4 / 6;
    grid-column: 4 / 5;

    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
}

.operator {
    color: #337cac;
}

.operator-plus {
    height: 100%;
    grid-row: 2 / 4;
    grid-column: 4 / 5;
    color: #337cac;
}

.clear-all {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
}



