#hangman-keys {
    text-align: center;

    button {
        width: 40px;
    }
}

#hangman-text {
    div {
        display: inline-block;
        width: 50px;
        height: 50px;
        font-weight: bold;
        font-size: 32px;
        padding-top: 0;
    }
}